:root {
  --button-bg: #2b3743;
  --primary-color: #000;
  --secondary-color: #565656;
  --secondary-bg: #f5f5f5;
  --primary-blue: #2f88ff;
  --light-bg: #f7f7f7;
  --green-bg: #4e9d4b;
  --text-success: #57d052;
}

.button {
  @apply w-full bg-[var(--button-bg)] text-white h-[49px] rounded-[8px] text-center font-medium;
}

/* Remove border from the flag dropdown */
.react-tel-input .flag-dropdown {
  border: none !important;
  background: transparent !important;
}

/* Also remove outline when focused */
.react-tel-input .flag-dropdown.open {
  box-shadow: none !important;
}

.hero {
  width: 100%;
  height: 340px;
  /* background-image: url("/header-background-image.png");
  background-position: center;
  background-size: cover; */
  background-color: var(--green-bg);
}

.productSearchInput {
  background: rgba(78, 157, 75, 0.79);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.3px);
  -webkit-backdrop-filter: blur(10.3px);
  border: 1px solid rgba(78, 157, 75, 0.42);
}

.stdropdown-container {
  border: none !important;
  @apply bg-[var(--secondary-bg)];
}

.stsearch-box > input {
  border: none !important;
  background-color: transparent !important;
}

.categories-container::-webkit-scrollbar {
  display: none;
}
