:root {
  --button-bg: #000;
  --primary-color: #000;
  --secondary-color: #565656;
  --secondary-bg: #f5f5f5;
  --primary-blue: #2f88ff;
}

.button {
  @apply w-full bg-[var(--button-bg)] text-white h-[49px] rounded-[8px] text-center font-medium;
}
