:root {
  --button-bg: #4e9d4b;
  --primary-color: #000;
  --secondary-color: #565656;
  --secondary-bg: #f5f5f5;
  --primary-blue: #2f88ff;
}

.button {
  @apply w-full bg-[var(--button-bg)] text-white h-[49px] rounded-[8px] text-center font-medium;
}

.auth-bg {
  background-image: url("/auth-bg.svg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

/* Remove border from the flag dropdown */
.react-tel-input .flag-dropdown {
  border: none !important;
  background: transparent !important;
}

/* Also remove outline when focused */
.react-tel-input .flag-dropdown.open {
  box-shadow: none !important;
}

.hero {
  width: 100%;
  height: 340px;
  background-image: url("/header-background-image.png");
  background-position: center;
  background-size: cover;
}
