@import url("./styles/fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "General Sans", sans-serif;
}

.custom-shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.padding-x {
  @apply px-5 md:px-10 lg:px-14 xl:px-28;
}
